<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="refresh" content="2">
<title>2023暑期英语练习</title>
<link rel="stylesheet" type="text/css" href="..\static\css\index.css">
<link rel="stylesheet" type="text/css" href="..\static\css\index-item.css">
<link rel="stylesheet" type="text/css" href="..\static\css\table.css">

</head>
<body>
<!--导航栏-->
<nav id="body-nav">
<div>
<span id="span1">2023暑期英语练习</span>
</div>
</nav>

<div>
<button class="back"><a class="none-decoration" href=".\index.html">返回首页</a></button>
</div>

<!--正文-->

<div id="table-div">
<table id="2023exercise" rules="rows">
<thead>
<tr><th>序号</th><th>主要知识点</th><th>查看文件</th></tr>
</thead>
<tr>
<td>练习 1</td><td>人称代词；主语、谓语、宾语；查词典</td>
<td><p><a href="..\static\raw\pdf\2023暑期英语英语练习（1）.pdf">查看题目</a></p><p><a href="#" onclick="answerNotReleased()">查看答案</a></p></td>
</tr>


</table>
</div>

<script>
function answerNotReleased() {

}
</script>

</body>
</html>