<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!--<meta http-equiv="refresh" content="2">-->
<title>英语加油站 首页</title>
<link rel="stylesheet" type="text/css" href="..\static\css\index.css">
<link rel="stylesheet" type="text/css" href="..\static\css\index-item.css">

</head>
<body>
<!--导航栏-->
<nav id="body-nav">
<div>
<span id="span1">英语加油站</span>
<span id="span2">English Gas Station</span>
</div>
</nav>

<!--正文-->
<div class="item-set">
<div class="set-title">学习手册</div>
<div class="items">
<div class="item"><a href="#">单词表</a></div>
<div class="item"><a href="#">句型表</a></div>
<div class="item"><a href="#">音标手册</a></div>
</div>

</div>
<div class="item-set">
<div class="set-title">学习资源</div>
<div class="items">
<div class="item"><a href="2023exercise.html">2023暑期英语练习</a></div>
<div class="item"><a href="#">试题</a></div>
</div>
</div>

</div>
<div class="item-set">
<div class="set-title">在线练习</div>
<div class="items">
<div class="item"><a href="#">单词听写</a></div>
<div class="item"><a href="#">词汇抽测</a></div>
</div>
</div>


</body>
</html>