<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!--<meta http-equiv="refresh" content="2">-->
<title>查看文件</title>

<style type="text/css">
#download {
margin-bottom:30px;
}
</style>

</head>
<body>
<!--导航栏-->
<nav id="body-nav">
<div>
<span id="span1">英语加油站</span>
<span id="span2">English Gas Station</span>
</div>
</nav>

<div id="download">
<button class="back" onclick="downloadFile()">下载文件</button>
</div>

<img id="pdf_img" width="100%">

<script type="text/javascript">
window.onload=function() {
var cookie_address=document.cookie.split(";")[0].split("=")[1];
var raw_address=cookie_address.replace("/","\\\\");
var name=cookie_address.split("/")[-1].replace(".pdf",".png");
var png_name=("../static/raw/img/"+name).replace("/","\\\\");
alert(cookie_address);
alert(raw_address);
alert(name);
alert(png_name);
};

function downloadFile() {
var address=cookie[1].split("=")[1];
var name=cookie[2].split("=")[1];
var element = document.createElement('a');
element.setAttribute('href', address);
element.setAttribute('download', name)
element.style.display = 'none';
document.body.appendChild(element);
element.click();
document.body.removeChild(element);
}
</script>

</body>
</html>